@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: NeueMachina;
    src: url("./fonts/PPNeueMachina-InktrapRegular.woff") format(woff);
  }
}

@layer components {
  .w-dynamic {
    @apply w-var-default md:w-var-md lg:w-var-lg xl:w-var-xl 2xl:w-var-2xl 3xl:w-var-3xl;
  }
}

body,
html {
  overflow-x: hidden;
  font-family: NeueMachina;
}

body {
  @apply bg-gray;
}
